<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="SPhysix: Smartphone Physics with AI">
  <meta name="keywords" content="Smartphone, Physics, AI">
  <meta name="author" content="Ralph P. Lano">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css" />
</head>
<body><center>
<div id="wrap">
  <div class="nav-wrapper">
    <img src="{{ site.baseurl }}/images/SPHYSIX.png" alt="SPHYSIX logo" class="nav-logo" />
    <ul class="sidenav" id="main-nav">
      <p><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></p>
      <!-- navigation.js will populate this -->
    </ul>
  </div>
  
  <div class="content">
    {{ content }}
    <p class="footer">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }}
    </p>
  </div>

</div>
</center>
</div>

  <script src="{{ site.baseurl }}/assets/navigation.js"></script>
</body>
</html>
